[[language]]
language-servers = ["oxfmt", "oxlint", "tailwind"]
name = "css"

[[language]]
language-servers = ["oxfmt", "oxlint", "tailwind"]
name = "html"

[[language]]
auto-format = true
language-servers = [{ except-features = ["format"], name = "typescript-language-server" }, "oxfmt", "oxlint"]
name = "javascript"

[[language]]
auto-format = true
language-servers = ["oxfmt", "oxlint"]
name = "json"

[[language]]
auto-format = true
language-servers = [{ except-features = ["format"], name = "typescript-language-server" }, "oxfmt", "oxlint", "tailwind"]
name = "jsx"

[[language]]
auto-format = true
language-servers = ["oxfmt", "oxlint"]
name = "markdown"

[[language]]
auto-format = true
file-types = ["mdx"]
formatter = { command = "prettier", args = ["--parser", "mdx"] }
grammar = "markdown"
indent = { tab-width = 2, unit = "\t" }
language-servers = ["mdx", "oxfmt", "oxlint", "tailwind"]
name = "mdx"
roots = []
scope = "source.mdx"

[[language]]
indent = { tab-width = 2, unit = "\t" }
name = "rust"

[[language]]
auto-format = true
comment-token = "//"
file-types = [{ glob = "tangram.js" }, { glob = "*.tg.js" }]
grammar = "javascript"
indent = { tab-width = 2, unit = "\t" }
language-servers = ["tangram"]
name = "tangram-javascript"
roots = []
scope = "source.tangram-javascript"

[[language]]
auto-format = true
comment-token = "//"
file-types = [{ glob = "tangram.ts" }, { glob = "*.tg.ts" }]
grammar = "typescript"
indent = { tab-width = 2, unit = "\t" }
language-servers = ["tangram"]
name = "tangram-typescript"
roots = []
scope = "source.tangram-typescript"

[[language]]
auto-format = true
language-servers = [{ except-features = ["format"], name = "typescript-language-server" }, "oxfmt", "oxlint", "tailwind"]
name = "tsx"

[[language]]
auto-format = true
language-servers = [{ except-features = ["format"], name = "typescript-language-server" }, "oxfmt", "oxlint", "tailwind"]
name = "typescript"

[language-server.mdx]
args = ["--stdio"]
command = "mdx-language-server"

[language-server.oxfmt]
args = ["oxfmt", "--lsp"]
command = "bunx"

[language-server.oxlint]
args = ["oxlint", "--lsp"]
command = "bunx"

[language-server.rust-analyzer.config]
cargo = { features = "all" }
check = { command = "clippy" }

[language-server.tailwind]
args = ["--stdio"]
command = "tailwindcss-language-server"

[language-server.tangram]
args = ["-m", "client", "lsp"]
command = "tangram"

[language-server.typescript-language-server]
args = ["typescript-language-server", "--stdio"]
command = "bunx"
